/* slick.css */

.dots_custom {
  width: 113px;
  height: 8px;
  display: flex;
  vertical-align: middle;
  justify-content: left;
  margin: auto 0;
  padding: 0;
  position: fixed;
  bottom: calc(50% - 1095px);
  left: calc(50% - 400px);
}

.dots_custom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: #d9d9d9;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  padding: 0;
}

.dots_custom li.slick-active button {
  background-color: #7c7c7c;
}
